.SingleUsableKeyCode {
    height: var(--usableKeyMultiplier);
    /* width: var(--usableKeyMultiplier) !important; */
    /* border: 1px solid black; */
    /* margin: auto; */
    overflow: hidden;
    /* display: flex; */
    /* width: 100%; */
}

/* .SingleUsableKeyCode,
p {
    color: red;
    flex-wrap: wrap;
    background: orange;
    max-width: 100%;
} */