@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors to be set from tailwind docs */
.navlink {
  color: red;
  font-size: .875rem;
  margin-bottom: 0.25rem;
}

.navlink:hover {
  color: green;
}

/* this is all replaced by tailwind */
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

} */
:root {
  --keyMultiplyer: 0px;
}
