.singleLayoutKey {

    height: var(--keyMultiplyer);
    /* moved this to tailwind */
    /* border: 1px solid black; */
    margin: auto;
    position: absolute;

}

.singleLayoutKey .singleLayoutKey__main {
    width: 100%;
    height: 100%;
    /* background: lightgray; */
    font-weight: bolder;
}

.singleLayoutKey .singleLayoutKey__clear {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 2;
}

.waitingKey .singleLayoutKey__main {
    background: aquamarine;
}