@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* custom stuff goes here 
 @apply classes here */
}


/* this is all replaced by tailwind */
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
} */
:root {
  --keyMultiplyer: 0px;
  --usableKeyMultiplier: 0px;
  --oledPixel: 0px;
}

.btn-size-override-xxs {
  transform: scale(0.8)
}